.Container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.ChatContainer {
    background-color: #F9F4F5;
    width: 70%;
    padding: 15px;
    margin: 20px auto;
    height: 70vh;
    overflow-y: scroll;
}

.ChatContainer img {
    width: 200px;
    float: right;
    margin: 5px 10px;
    border-radius: 50%;
}
.ChatItem {
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.ChatItem .Date{
    float: right;
    min-width: 110px;
}
.Message{
    text-align: left;
    width: 70%;
    height: auto;
    word-wrap: break-word;
}
.ChatContainer .Author{
    font-weight: bold;
}
.SendMessage{
    width: 100%;
    margin: auto;
    position: fixed;
    bottom: 15px;
}

.SendMessage div{
    display: block;
    width: 300px;
    margin: auto;
}

.SendButton{
    background-color: #70587c!important;
    color:white!important;
    display: inline;
    width: 30px;
}
.SendInput{
    width: 200px;
    margin: auto;
    padding: 8px;
    border-radius: 4px;
    margin: 4px;
    display: inline-block;
    border: 1px solid #70587c;
}

.ActiveNow{
    width: 20%;
    background: #eee;
    margin: 20px;
    padding: 15px;
    height: 100%;
}

.Dot{
    height: 10px;
    width: 10px;
    background-color: #32CD32;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}